html
  body
    // No header, and the drawer stays open on larger screens (fixed drawer).
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer
      .mdl-layout__drawer
        span.mdl-layout-title Title
        |     
        nav.mdl-navigation
          a.mdl-navigation__link(href='') Link
          |       
          a.mdl-navigation__link(href='') Link
          |       
          a.mdl-navigation__link(href='') Link
          |       
          a.mdl-navigation__link(href='') Link
      |   
      main.mdl-layout__content
        .page-content
          // Your content goes here
