html
  body
    // Simple MDL Progress Bar
    #p1.mdl-progress.mdl-js-progress
    script.
      document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
      this.MaterialProgress.setProgress(44);
      });
