doctype html
html
  head
    title Material design button
    |  
    |   
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    // <script src="/bower_components/material-design-lite/material.min.js"></script>
    script(src='../componentHandler.js')
    // ripple module
    link(href='../ripple/ripple.css', rel='stylesheet')
    |   
    script(src='../ripple/ripple.js')
    // progress module
    link(href='progress.css', rel='stylesheet')
    |   
    script(src='progress.js')
    |   
    style(type='text/css').
      .container {
      width: 80%;
      margin: 0 auto;
      }
      .spacer {
      margin: 30px 0;
      border-bottom: 1px solid #ddd;
      }
  body
    .container
      h3 BLANK PAGE
      |   
      |   
      .spacer
      // Simple MDL Progress Bar
      #p1.mdl-progress.mdl-js-progress
      |   
      script.
        document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
        this.MaterialProgress.setProgress(44);
        });
      |   
      .spacer
      // MDL Progress Bar with Indeterminate Progress
      #p2.mdl-progress.mdl-js-progress.mdl-progress__indeterminate
